<div class="widgetry-content <%= 'widgetry-content-overlay' unless params[:embedded] %>">
  <div class="img"><img src="<%= asset_pack_path 'images/demo.jpg' %>" /></div>
  <h3>Alice's Adventures in Wonderland</h3>

  <p>An 1865 novel written by English author Charles Lutwidge Dodgson under the pseudonym Lewis Carroll. It tells of a girl named Alice who falls down a rabbit hole into a fantasy world (Wonderland) populated by peculiar, anthropomorphic creatures.</p>
  <% if params[:embedded] || params[:button] %>
  <p>
    <a href="/book?embedded=true">Buy now</a>
  </p>
  <% end %>
</div>
