<div class="container">
  <h1>Widgetry</h1>

  <div class="overlay-links">
    <a href="/gumroad" class="widgetry-button" data-embedded="false">Buy me with overlay!</a>
    <a href="/gumroad" class="widgetry-button" data-embedded="false" data-button="true">Buy me with overlay and button!</a>
  </div>
  <div>
    <h3>Embedded</h3>
    <a href="/gumroad" class="widgetry-button" data-embedded="true">Buy me embedded!</a>
  </div>
</div>

<%= javascript_pack_tag 'widgetry' %>

